@model ASK_App.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>
    <h2>Answers</h2>
    @foreach (var item in Model.Answers)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.Answers)
        </dd>
    }
    <div>
    </div>
    @Html.ActionLink(
 "Answer here",
 "Create",                         // controller action
 "Answers",        // controller
 new { Model.QuestionId },         // action parameters aka route values
 new { @class = "btn btn-info" })
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
